# Application
APP_URL=http://127.0.0.1:3334

# Authentication
AUTH_SECRET=minhaFraseUltraSecreta
AUTH_EXPIRATION_TIME=7d

# NodeJS
NODE_BIND_PORT=3334
NODE_INTERNAL_PORT=443
PORT=443

# Postgresql
POSTGRES_USER=test-user
POSTGRES_PASSWORD=test
POSTGRES_DATA=/var/lib/postgresql/data/pgdata
POSTGRES_BIND_PORT=5432
POSTGRES_DATABASE_NAME=wa-test-data-base
POSTGRES_HOST=wa-postgresql-container
